.mainParent {
    display: flex;
    width: 100%;
}

.headingContent {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
}

.main {

    width: 50vw;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    padding-top: 0px;
    margin-left: 0px;
    padding-right: 0px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-left: 80px;
    padding-bottom: 80px;
}


.main::-webkit-scrollbar {
    width: 0; 
}


.imagesSection {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    left: 50vw;
    width: 50%;
    height: 100%;
    margin-left: 50%;
    -webkit-overflow-scrolling: touch;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.contentParent {
    width: 80%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.contentParentApiData {
    width: 80%;
    border-bottom: .2px solid black;
    display: flex;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    opacity: 0.50;
    cursor: pointer;
}

.contentParentApiData:hover {
    border-top: 1px solid black;
    opacity: 100;
}

.contentChild {
    display: flex;
    column-gap: 40px;
    padding: 10px 0px;
    width: 80%;
}

.paragraph {
    padding: 10px 0px;
}

.heading {
    font-size: 15px;
    /* opacity: 0.70; */
}

.headingMain {
    font-size: 15px;
}

.navIconCross {
    cursor: pointer;
    margin: 25px 25px 0 25px;
    position: fixed;
    right: 0;
    z-index: 2 ;
}

.crossSlug {
    z-index: 0;
    cursor: pointer;
}

.mainHeadingNested {
    font-size: 44px;
    font-weight: 300;
    padding: 0px 0 60px 0px;
}

.mainContentNested {
    display: flex;
    columns: 60px;
    width: 100%;
    justify-content: space-between;
    /* padding: 0px 80px 0 80px; */
}


 
.paragraphNested {
    font-size: 15px;
    max-width: 750px;
}

.headingParent {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
} 

.nestedSmallText {
    font-size: 15px;
    font-weight: 300;
}

.nestedSmallHeading {
    font-size: 15px;
    font-weight: 300;
}

.contentSection {
    width: 100%;
    padding-bottom: 40px;
     /* padding: 70px 80px 40px 80px; */

}

.parentImagesSlug {
    width: 100%;
    display:flex ;
    flex-wrap: wrap;
    /* padding: 10px 80px; */
    row-gap: 20px;
    column-gap: 20px;
}

.imageParentSlug {
    width: 49%;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
}



.imageParentSecondSlug {
    width: 99%;
    height: 700px;
    position: relative;
    display: flex;
    padding: 10px;
}

.imgParent {
    width: 100%;
    height: 400px;
    position: relative;
    scroll-behavior: smooth;  
}

.mainParentSlug {
    padding: 80px 60px 30px 80px;
}

.imageParentScroll {
    width: 50%;
    height: 400px;
    position: relative;
    opacity: 100;
}





.footer {
    display:flex ;
    justify-content: space-between;
    /* max-width: 90%; */
    width: 100%;
    /* margin:0  auto 80px auto; */
    padding: 10px 80px 20px 80px;
}

.footerParagraph {
    max-width: 130px;
    text-align: center;
}

.footerInfo {
    display: flex;
    column-gap: 60px;
    font-size: 12px;
}

.paragraphFooter {
    font-size: 12px;
}

.hrTag {
    width: 88%;
    height: 1px;
    margin: 20px auto;
    background-color: rgb(203, 203, 203);
}

.mainHeading {
   padding: 100px 0 20px 0;
   font-size: 44px;
   font-weight: 300;
}

.parentMobile{
    display: none;
}



.mobileProjectMain {
    padding-left: 25px;
} 


@media screen and (max-width: 1280px) {
  
    .imagesSection {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 50vw;
        width: 50%;
        height: 100%;
        margin-left: 50%;
        -webkit-overflow-scrolling: touch;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imgParent {
        width: 100%;
        height: 350px;
        position: relative;
        scroll-behavior: smooth;  
    }

    /* .imagesSection {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 50vw;
        width: 50%;
        height: 100%;
        margin-left: 50%;
        -webkit-overflow-scrolling: touch;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    } */

    .imageParentSlug {
        width: 49%;
        height: 600px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    
    
    .imageParentSecondSlug {
        width: 99%;
        height: 600px;
        position: relative;
        display: flex;
        padding: 10px;
    }    
    
}

@media screen and (max-width: 1024px) {
    .imgParent {
        width: 100%;
        height: 200px;
        position: relative;
        scroll-behavior: smooth;  
    }

    .imagesSection {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        left: 50vw;
        width: 30%;
        height: 100%;
        margin-left: 70%;
        -webkit-overflow-scrolling: touch;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main {
        /* display: flex;
        flex-direction: column; 
        width: 50%; */
        width: 70vw;
        width: 70%;
        height: 100%;
        /* margin: 0 auto; */
        position: fixed;
        overflow-y: scroll;
        overflow: -moz-scrollbars-none;
        padding-top: 0px;
        margin-left: 0px;
        padding-right: 0px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin-left: 80px;
        padding-bottom: 80px;
    }

    .imageParentSlug {
        width: 49%;
        height: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    
    
    .imageParentSecondSlug {
        width: 99%;
        height: 500px;
        position: relative;
        display: flex;
        padding: 10px;
    }

}

@media screen and (max-width: 767px) {


    .nestedDetailsProject {
        padding: 0px 0px 0px 50px;
    }
    

    .navIconCross {
        cursor: pointer;
        margin: 0px;
        position: absolute;
        right: 0;
        right: 0;
        background-color: rgb(248, 129, 129);
        display: none;
    }

    .mainParent {
        display: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .mobileImgParent {
        width: 100%;
        height: 500px;
        position: relative;
        margin-bottom: 10px;
    }

    .parentMobile {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 80px 0px 0px 0px;
    }

 

    .mainContentNested {
        display: flex;
        columns: 60px;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 30px;
        /* padding: 0px 80px 0 80px; */
    }

    .imageParentSlug {
        width: 99%;
        height: 700px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .mainParentSlug {
        padding: 80px 0px 30px 0px;
    }

    .navIconCross {
        cursor: pointer;
        margin: 25px 25px 0 25px;
        position: fixed;
    }

    .mainHeadingNested {
        font-size: 30px;
        font-weight: 300;
        padding: 0px 0 40px 0px;
    }

    .headingContent {
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-weight: 500;
        font-size: 25px;
        cursor: pointer;
        padding-top: 20px;
    }


    

}

@media screen and (max-width: 580px) {
    
    .mobileImgParent {
        width: 100%;
        height: 400px;
        position: relative;
        margin-bottom: 8px;
    }

    .imageParentSlug {
        width: 99%;
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    
    
    .imageParentSecondSlug {
        width: 99%;
        height: 400px;
        position: relative;
        display: flex;
        padding: 10px;
    }

    
.nestedDetailsProject {
    padding: 0px 0px 0px 40px;
}
}

@media screen and (max-width: 470px) {
    
    .mobileImgParent {
        width: 100%;
        height: 320px;
        position: relative;
        margin-bottom: 5px;
    }

    .imageParentSlug {
        width: 99%;
        height: 350px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    
    
    .imageParentSecondSlug {
        width: 99%;
        height: 350px;
        position: relative;
        display: flex;
        padding: 10px;
    }

    .mainHeadingNested {
        font-size: 22px;
        font-weight: 400;
        padding: 0px 0 40px 0px;
    }
}